._panel{
	margin:auto;
	position:relative;
	z-index:1;
	overflow:hidden;
	-moz-user-select:none;
}
._panel canvas{
	position : absolute;
}
._panel img, .unselect{
	-moz-user-select:none;
	border:none;
	outline:none;
	background-repeat:no-repeat;		
}
._winLayer{ position:absolute; background:#ffffff; }
._win{
	position:absolute;
	z-index:310;
	padding:5px;
}
