._panel{
	margin:auto;
	position:relative;
	z-index:1;
	overflow:hidden;
	-moz-user-select:none;
}
._panel canvas{
	position : absolute;
}
._panel img, .unselect{
	-moz-user-select:none;
	border:none;
	outline:none;
	background-repeat:no-repeat;		
}
._winLayer{ position:absolute;  }
._win{
	position:absolute;
	z-index:310;
	padding:5px;
	background:#ffffff;
}
._win ul, ._win li{ list-style:none; }
._win li button{ padding-left:24px; background-repeat:no-repeat;  background-position:-5px -5px; 
  outline:none;
  -moz-user-focus:none;
  -moz-user-select:none;
 }
 ._cansel{ width:100%; margin-top:8px; }

._board{ background:#000000; color:#ffffff; width:320px; height: 160px; padding:10px; }
._board ._face{ height:90px; text-align:center; padding-top:10px; margin-top:10px; }
._board ._left{ float:left; width: 80px; }
._board ._right{ float:left; width:240px; }
._board ._num{ color:#00ff00; margin:5px 0px; text-align:center; }
._board h2{ text-align:center; font-size:16px; line-height: 20px; }
._board ._level{ background:#008000; text-align:center; }
._board ._desc{ color:#f3dc07; }
._board p{ color:#fff; font-size:12px; }
._board ._status{ font-size:12px; padding-left:32px; margin-top:10px; }
._board ._status span{ vertical-align:top; }

._bboard{ display:none; position:absolute; z-index:-1; top:-999px; left:-999px; background:#fff; }
